extends ../layout

block content
  .page-header
    h3 Sign in
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Login
        a.btn.btn-link(href='/forgot') Forgot your password?
    .form-group
      .col-sm-offset-3.col-sm-7
        hr
    .form-group
      .col-sm-offset-3.col-sm-7
        p
        | We have stubbed out the Social Logins, but post Social API key retrieval, these social logins should work nicely. These will also need to be linked to the user data within the DB.
    .form-group
      .col-sm-offset-3.col-sm-7
        //- a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
        a.btn.btn-block.btn-facebook.btn-social(href='#')
          i.fa.fa-facebook
          | Sign in with Facebook
        //- a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
        a.btn.btn-block.btn-twitter.btn-social(href='#')
          i.fa.fa-twitter
          | Sign in with Twitter
        //- a.btn.btn-block.btn-google.btn-social(href='/auth/google')
        a.btn.btn-block.btn-google.btn-social(href='#')
          i.fa.fa-google-plus
          | Sign in with Google
        //- a.btn.btn-block.btn-github.btn-social(href='/auth/github')
        a.btn.btn-block.btn-github.btn-social(href='#')
          i.fa.fa-github
          | Sign in with GitHub
        //- a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
        a.btn.btn-block.btn-linkedin.btn-social(href='#')
          i.fa.fa-linkedin
          | Sign in with LinkedIn
        //- a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
        a.btn.btn-block.btn-instagram.btn-social(href='#')
          i.fa.fa-instagram
          | Sign in with Instagram
