extends layout

block content
  h1 We've Got Guts
  p.lead Your personalised and intergrated healthcare solution.
  hr
  .row
    .col-sm-6
      h2 Patient Data Visualisation
      p Click below to go and visualise your data. Help us to personalise you health care.
      p
        a.btn.btn-default(href='/visualisations', role='button') View My Data »
