extends ../layout

block content
  .page-header
    h2
      i.fa.fa-picture-o
      | Visualisations

  #GutsGraph

  script(src='//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js')
  script.
    //- var _data=#{data}
    var _data=JSON.parse('!{data}');

    for (var i = 0; i < _data.length; i++) {
      var x = _data[i][0];
      _data[i][0] = new Date(_data[i][0]);
    }

    new Dygraph(document.getElementById("GutsGraph"),
         _data,
         {
           labels: [ "Date", "Calpro", "HBI" ]
         });
