extends ../layout

block content
  .page-header
    h2
      i.fa.fa-picture-o
      | Visualisations

  .row
    .col-sm-6
      #CalproGraph
    .col-sm-6
      #HBIGraph
  .row
    .col-sm-6
      #FitbitSleep
    .col-sm-6
      #FitbitActivities

  script(src='//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js')
  script.
    //- var _data=#{data}
    var _calpro=JSON.parse('!{calpro}');
    var _hbi=JSON.parse('!{hbi}');

    for (var i = 0; i < _calpro.length; i++) {
      var x = _calpro[i][0];
      _calpro[i][0] = new Date(_calpro[i][0]);
    }

    for (var i = 0; i < _hbi.length; i++) {
      var x = _hbi[i][0];
      _hbi[i][0] = new Date(_hbi[i][0]);
    }

    new Dygraph(document.getElementById("CalproGraph"),
         _calpro,
         {
           labels: [ "Date", "Calpro"],
           title: 'Gut Information',
           titleHeight: 32,
           ylabel: 'Calpro',
           xlabel: 'Date'
         });

   new Dygraph(document.getElementById("HBIGraph"),
        _hbi,
        {
          labels: [ "Date", "HBI Score"],
          title: 'Disease Activity',
          titleHeight: 32,
          ylabel: 'HBI Score',
          xlabel: 'Date'
        });

    new Dygraph(document.getElementById("FitbitSleep"),
         _fbSleep,
         {
           labels: [ "Date", "Awakenings"],
           title: 'Fitbit Number of Awakenings',
           titleHeight: 32,
           ylabel: 'Awakenings',
           xlabel: 'Date'
         });

     new Dygraph(document.getElementById("FitbitActivities"),
          _fbActivites,
          {
            labels: [ "Date", "Activity Calories"],
            title: 'Fitbit Activity Calories',
            titleHeight: 32,
            ylabel: 'Calories',
            xlabel: 'Date'
          });
